<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/tgstrans3.png" />
	<script src="/assets/script.js"></script>
	<title>Bistro Royale | debit cards</title>
</head>
<body>
	<!--Toolbar-->
	<div class="toolbar">
		<a href="/index" class="logoLink">
			<img class="toolbarImage" src="images/tgstrans2.png">
			<span class="tgslogo">&nbsp Bistro Royale</span>
		</a>
		<ul class="toolbarList">
			<<li><a href="/index" class="toolbarLink">HOME</a></li><span class="pipe">  |  </span>
			<li><a href="/menu" class="toolbarLink">MENU</a></li><span class="pipe">  |  </span>
			<li><a href="/location" class="toolbarLink">LOCATION</a></li><span class="pipe"> | </span>
			
			<li><a href="/about" class="toolbarLink">ABOUT US</a></li>
		</ul>
		<ul class="toolbarList2">
			<!-- <li><a href="/cart" class="toolbarLink">CART &nbsp<i class="fa fa-shopping-cart"></i></a></li><span class="pipe"> |</span> -->
			<li id=user><a href="/login" class="toolbarLink">LOGIN &nbsp<i class="fa fa-user"></i></a></li>
		</ul>
	</div>
	<!--EndToolbar-->
	<!--Payment Form-->
	<div class="parallax4 textOverlay">
		<form class="creditcard">
			<b>Payment:</b>
			<i class="fa fa-cc-visa" style="color:navy; font-size:2em;"></i>
            <i class="fa fa-cc-amex" style="color:blue; font-size:2em;"></i>
            <i class="fa fa-cc-mastercard" style="color:red; font-size:2em;"></i>
            <i class="fa fa-cc-paypal" style="color:steelblue; font-size:2em;"></i>
			<div class="formelement">Name on card:
  				<input class="formele" type="text" name="fullName" placeholder="Card holder's name" required><br></div>
			<div class="formelement">Debit card number:
				<input class="formele" type="text" pattern="[0-9]{12}" name="cardno" placeholder="XXXX XXXX XXXX XXXX" required><br></div>
			<div class="formelement">Expiry:
  				<input class="formele" type="text" name="houseno" placeholder="mm/yy" required><br></div>
			<div class="formelement">CVV:
  				<input class="formele" type="text" name="cvv" placeholder="XXX" required><br></div><br>
				  <button class="button1" formaction="/ordersuccess" type="submit">Pay</button>
			</form>
	</div>
	<!--End Payment Form-->
	<script type="text/javascript">
		var user = '<%= user %>';
			if(user!=''){
			user = user.split('@');
			user = user[0];
			user = user[0].toUpperCase() + user.slice(1); 
			user = 'Hi '+user+'!';
			document.getElementById('user').className = 'dropdown';
			var dropdown = user+' &nbsp<i class="fa fa-chevron-down"></i><div class="dropdown-content"><a href="/profile">Profile</a><a href="/cart">Cart</a><a href="/orders">Orders</a><a href="/logout">Logout</a></div>';
			document.getElementById('user').innerHTML = dropdown;
		} 
	</script>
</body>
</html>