<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/tgstrans3.png" />
	<script src="/assets/script.js"></script>
	<title>Bistro Royale | Locations</title>
</head>
<body>
	<style>
		a { color: white; }
	</style>

	<!--Toolbar-->
	<div class="toolbar">
		<a href="/index" class="logoLink">
			<img class="toolbarImage" src="images/tgstrans2.png">
			<span class="tgslogo">&nbsp Bistro Royale</span>
		</a>
		<ul class="toolbarList">
			<li><a href="/index" class="toolbarLink">HOME</a></li><span class="pipe">  |  </span>
			<li><a href="/menu" class="toolbarLink">MENU</a></li><span class="pipe">  |  </span>
			<li><a href="/location" class="toolbarLink">LOCATION</a></li><span class="pipe"> | </span>
			
			<li><a href="/about" class="toolbarLink">ABOUT US</a></li>
		</ul>
		<ul class="toolbarList2">
			<!-- <li><a href="/cart" class="toolbarLink">CART &nbsp<i class="fa fa-shopping-cart"></i></a></li><span class="pipe"> |</span> -->
			<li id=user><a href="/login" class="toolbarLink">LOGIN &nbsp<i class="fa fa-user"></i></a></li>
		</ul>
	</div>
	<!--EndToolbar-->
	<!--Image 1-->
	<div class="parallax1">
		<!--<img src="images/parallax1.jpg" width="100%" alt="Image Unavailable">-->
		<div class="textOverlay">
			<div class="locationText1">OUR LOCATIONS</div>
			<div class="locationText2"><b>_______________</b></div>
			<br>
			<div class="locationText3"><b>Visit our brand-new, spectacular locations. </b></div>
			<br>
			<div><a href="#locationContainer" class="button1">SCROLL DOWN</a></div>
		</div>
	</div>

	<!--right info banners-->
	<div style="width: 200px; display: block; position: absolute; right: 50px; top: 580px;">
		<a href="https://www.moleculebistroroyal.com/events" target="_blank">
		<img src="images/banner-event.jpg" width="140px" height="640px" style="border-radius: 4px;">
		</a>
	</div>
	<div style="width: 200px; display: block; position: absolute; right: 50px; top: 1270px;">
		<a href="https://www.moleculebistroroyal.com/events" target="_blank">
		<img src="images/banner2.jpg" width="140px" height="640px" style="border-radius: 4px;">
		</a>
	</div>
	
	<div id="locationContainer">
	</div>
	<!--6 locations-->
	<div class="locationContainer">
  		<img src="images/loc1.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">VELLORE<br><span class="addr">VIT University, Vellore - 632014</span></div>
  		</div>
	</div>

	<div class="locationContainer">
  		<img src="images/loc2.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">CHENNAI<br><span class="addr">Express Avenue, Chennai - 600001</span></div>
  		</div>
	</div>
	<div class="locationContainer">
  		<img src="images/loc3.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">MUMBAI<br><span class="addr">Phoenix Marketcity, Mumbai - 643055</span></div>
  		</div>
	</div>
	<div class="locationContainer">
  		<img src="images/loc4.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">DELHI<br><span class="addr">Vasant Square Mall, New Delhi - 654321</span></div>
  		</div>
	</div>
	<div class="locationContainer">
  		<img src="images/loc5.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">BANGALORE<br><span class="addr">The Forum Mall, Bangalore - 601010</span></div>
  		</div>
	</div>
	<div class="locationContainer">
  		<img src="images/loc6.jpg" class="locationImage">
  		<div class="locationOverlay">
    		<div class="locationText">SURAT<br><span class="addr">Prasang plot, Adajan - 43920</span></div>
  		</div>
	</div>
	<br><br>
	
	<div style="margin:8px; font-family:Verdana; font-size:1.5em;
	background: -webkit-linear-gradient(rgba(174,134,72,1),rgba(174,134,72,1), #5f5e5e, rgba(143,38,38,1),rgba(143,38,38,1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;">MAIN BRANCH MAP</div>
	<!--google maps api-->
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.917632225022!2d72.78431161425145!3d21.195430785908336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04d383aa51a2f%3A0x4e762ade9b7c6ad9!2sRoyal%20Bistro!5e0!3m2!1sen!2som!4v1634159210106!5m2!1sen!2som" 
	width="840" height="400" style="border: 2px; border-radius: 8px; margin: 8px;" allowfullscreen="" loading="lazy"></iframe>
	
	<br><br>
	<hr class="style14">
	<div class="callUs">
		For phone services, call <a href="tel:+918777777778">+918777777778.</a> <br>
		Open daily, 10AM to 12AM.
		Subject to change during national holidays.<br>
		Email: brindiahelp@bistroroyale.com
	</div>

	<div class="wrapper">
		<div><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="icon facebook">
		  <div class="tooltip">Facebook</div>
		  <span><i class="fab fa-facebook-f"></i></span>
		</a>
		</div>
	<div><a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer" class="icon whatsapp">
		  <div class="tooltip">WhatsApp</div>
		  <span><i class="fab fa-whatsapp"></i></span>
		</a>
		</div>
	<div><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="icon instagram">
		  <div class="tooltip">Instagram</div>
		  <span><i class="fab fa-instagram"></i></span>
		</a>
		</div>
	<div><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" class="icon youtube">
		  <div class="tooltip">YouTube</div>
		  <span><i class="fab fa-youtube"></i></span>
		  </a>
		</div>
	</div>
	
	<div class="newsletter">
		<div>SIGN UP FOR OUR NEWSLETTER!</div><br>
		<div>
			<form method="POST" action="/subscribe">
				<input type="email" placeholder="EMAIL*" class="mail" name="mailid" required>
				<input type="submit" value="SUBSCRIBE" class="button1" onclick="newslettersubmit()">
				<script>
					function newslettersubmit() {
					  alert("Successfully subscribed! Check email");
					}
					</script>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var user = '<%= user %>';
			if(user!=''){
			user = user.split('@');
			user = user[0];
			user = user[0].toUpperCase() + user.slice(1); 
			user = 'Hi '+user+'!';
			document.getElementById('user').className = 'dropdown';
			var dropdown = user+' &nbsp<i class="fa fa-chevron-down"></i><div class="dropdown-content"><a href="/profile">Profile</a><a href="/cart">Cart</a><a href="/orders">Orders</a><a href="/logout">Logout</a></div>';
			document.getElementById('user').innerHTML = dropdown;
		} 
	</script>
</body>
</html>