<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/tgstrans3.png" />
	<script src="/assets/script.js"></script>
	<title>Bistro Royale | Payment portal</title>
</head>
<body>
	<!--Toolbar-->
	<div class="toolbar">
		<a href="/index" class="logoLink">
			<img class="toolbarImage" src="images/tgstrans2.png">
			<span class="tgslogo">&nbsp Bistro Royale</span>
		</a>
		<ul class="toolbarList">
			<li><a href="/index" class="toolbarLink">HOME</a></li><span class="pipe">  |  </span>
			<li><a href="/menu" class="toolbarLink">MENU</a></li><span class="pipe">  |  </span>
			<li><a href="/location" class="toolbarLink">LOCATION</a></li><span class="pipe"> | </span>
			
			<li><a href="/about" class="toolbarLink">ABOUT US</a></li>
		</ul>
		<ul class="toolbarList2">
			<!-- <li><a href="/cart" class="toolbarLink">CART &nbsp<i class="fa fa-shopping-cart"></i></a></li><span class="pipe"> |</span> -->
			<li id=user><a href="/login" class="toolbarLink">LOGIN &nbsp<i class="fa fa-user"></i></a></li>
		</ul>
	</div>
	<!--EndToolbar-->
	<!--Payment Form-->
	<div class="parallax4 textOverlay">
		
		<form class="login">
			Enter delivery address:
			<div class="formelement">Full name:
  				<input class="formele" type="text" name="fullName" placeholder="Full name" required><br></div>
			<div class="formelement">Phone number:
				<input class="formele" type="text" pattern="^\d{10}$" name="phnumber" placeholder="10-digit mobile number without prefixes" required><br></div>
			<div class="formelement">Pincode:
  				<input class="formele" type="text" pattern="[0-9]{6}" name="pincode" placeholder="6 digit [0-9] pincode" required><br></div>
			<div class="formelement">House No:
  				<input class="formele" type="text" name="houseno" placeholder="Flat / House No. / Floor / Building" required><br></div>
			<div class="formelement" required>Locality:
  				<input class="formele" type="text" name="locality" placeholder="Colony / Street / Locality" required><br></div>
			<div class="formelement" required>Landmark:
  				<input class="formele" type="text" name="locality" placeholder="Landmark (optional)"><br></div>
			<div class="formelement" required>City:
  				<select class="formele" name="city" required>
					<option disabled selected hidden>--pls select--</option>
  					<option>Vellore</option>
  					<option>Chennai</option>
  					<option>Mumbai</option>
  					<option>Delhi</option>
  					<option>Bangalore</option>
  					<option>Calcutta</option>
  					<option>Hyderabad</option>
  					<option>Panjim</option>
  					<option>Jaipur</option>
  				</select><br></div><br><hr class="style14">
			
  			<div class="center">
				<button class="button2" formaction="/creditcard" type="submit">Credit Card</button>
				<button class="button2" formaction="/debitcard" type="submit">Debit Card</button>
				<button class="button2" formaction="/netbanking" type="submit">Net Banking</button>
				<button class="button2" formaction="/ordersuccess" type="submit">Cash on Delivery</button>
			</div>
		</form>
		
		
	</div>
	
	<!--End Payment Form-->
	<script type="text/javascript">
		var user = '<%= user %>';
			if(user!=''){
			user = user.split('@');
			user = user[0];
			user = user[0].toUpperCase() + user.slice(1); 
			user = 'Hi '+user+'!';
			document.getElementById('user').className = 'dropdown';
			var dropdown = user+' &nbsp<i class="fa fa-chevron-down"></i><div class="dropdown-content"><a href="/profile">Profile</a><a href="/cart">Cart</a><a href="/orders">Orders</a><a href="/logout">Logout</a></div>';
			document.getElementById('user').innerHTML = dropdown;
		} 
	</script>
</body>
</html>